[2018-05-23 01:07] mikera opened #2 "README"
Readme needs to be updated to reflect the fact that this is the Ocean Java Client

[2018-06-04 10:45] mikera opened #49 "Test suite"
ocean-java should have a complete test suite that can be run either with JUnit IDE integration or via `mvn test`

Tests should cover:
- Internal logic / unit tests
- Connections to a mocked instance of the Ocean Agent
- Validation of exceptions / error cases
- Validation of data structures and format

[2019-02-20 01:26] mikera commented on #50
This should be moved to appropriate DEX / starfish style guide

[2019-02-20 01:27] mikera commented on #49
Implemented in starfish-java

[2019-02-20 01:27] #49 closed

[2019-02-20 01:32] mikera opened #72 "Refactor Operation to support named parameters as well as positional"
Invoke API should define named parameters for most invoke operations.

@shark8me I suggest the Invoke API would should support both positional and named parameters, with the decision left to the caller as to which they prefer to use if both are available. Perhaps this could be indicated with a "position" field in the invokable service metadata for each parameter.

[2019-02-20 01:33] mikera opened #73 "Implement remote invoke using the Invoke API"
starfish-java must support remote invocation of jobs using the standards defined by the Invoke API

This should use the same interfaces / abstraction as in-memory invokes, but with a separate implementation.

[2019-02-20 16:48] tmarble opened #74 "Comments on invokable operations functionality"
This issue is really used simply as a vehicle to comment on the recent additions regarding invokable operations.

This looks good and is idiomatic Java (using **java.util.concurrent**). Handing asynchrony is really important and we will likely need to revisit this when we get to a web services (RESTful) version of the API (where we cannot, for example, assume in-process java.util.concurrent waitin

[2019-02-21 05:41] mikera commented on #74
Hi Tom, thanks for the detailed comments. Feel free to add commits / PRs on documentation where you find things missing. I've addressed most of your comments in a new PR for your review.

Regarding the JSONObject, this is actually mutable since we are using json-simple at the moment rather than the javax JSONObject (which has the nice property of being immutable, but the not-so nice disadvantage o

[2019-02-21 06:36] #2 closed

[2019-02-24 00:18] mikera commented on #77
Why not `InvokableAgent`? Do you see situations where the Invokable thing is not an agent (remote or otherwise)?

An operation might not be Invokable in its own right (e.g. a script can't be invoked unless you have an agent that knows how to execute it).

Param ordering is a separate issue, I agree we should have a version with named parameters as per DEP6 but I also like the idea of supporting po

[2019-02-24 19:32] tmarble commented on #77
The primary rationale for **Invokable** is that it seems like the signature of Operation.invoke may very well want to be using the same interface: https://github.com/DEX-Company/starfish-java/blob/develop/src/main/java/sg/dex/starfish/Operation.java#L35

I'm completely fine to keep it **InvokableAgent** as long as the intention of the Operation.invoke is not the
same (or would not benefit from sha

[2019-02-25 01:27] mikera commented on #77
Hmmmm I think in general the signatures are a bit different so they need a different interface. You have:

`agent.invoke(operation,params)`
vs.
`operation.invoke(params)`

The second only works if either:
a) The operation can be completed without an agent or
b) The operation maintains a reference to an agent that it can use (e.g. an in-memory operation)

For positional arguments, I favour having a

[2019-02-25 04:13] tmarble commented on #77
Ah, ok, thanks for pointing it out.. much cleadrly on both points.

[2019-02-27 01:23] mikera commented on #72
Largely complete in the codebase but need to confirm format of parameter spec

[2019-03-12 05:31] mikera commented on #84
Worth filing an issue with Squid Java? I assume the asset has already been created and confirmed on chain?

[2019-03-20 07:53] mikera opened #89 "Test starfish invoke with RemoteAgent"
As a user I want to invoke an operation on a remote agent using the Invoke API

Agent implementations to test against:
- Koi
- Surfer enhancement to provide invokable operations?

[2019-03-20 08:31] mikera opened #90 "Implement simple CLI using starfish-java"

[2019-03-20 08:45] mikera opened #91 "Create samples / test cases for all of the Developer use cases"
See doc:

https://docs.google.com/spreadsheets/d/1FttX17zqATHsgS9sId07WeECQPnRjJbSOz1kcCwFLXE/edit#gid=0

[2019-03-26 00:53] AyushVerma2 opened #94 "Implement Listing API"
-Get the Listing by ID
-Get all Listing
-Update the existing Listing
-Create new Listing
-Test cases for all .

[2019-03-26 00:55] AyushVerma2 opened #95 "refactor HttpRemote code to get the file content through URL"
-move the creation of file through stream to FileAsset class.
-test case for each Local and Remote files.

[2019-03-27 02:59] AyushVerma2 opened #98 "Implement-Test Authentication for User Management"
-Update API to have the authentication functionality.
-Test USer with various login functionality

[2019-03-28 03:43] #74 closed

[2019-03-28 03:46] AyushVerma2 opened #101 "Write Developer-testcase for Starfish-java"
https://teamdexhq.slack.com/files/UBCJETJ95/FH4E2V668/developer_use_cases

[2019-04-03 07:42] AyushVerma2 commented on #101
-Add unit test cases,  that will run on the local in-memory data sets and classes.
-Add integration test cases that will run on the given surfer, all the test cases will be running remotely.

[2019-04-10 03:12] AyushVerma2 opened #106 "update RemoteHttpAsset code and move common part to File Asset"
update RemoteHttpAsset code and move the common part to File Asset.
Common part includes:
  -Reading from a Stream

[2019-04-10 03:17] AyushVerma2 opened #107 "Update Remote Agent code for Authentication and Authorization"
Update Remote Agent code for Authentication and Authorization.
 -get the user details
 -get the Token
 -create token
 -delete token
All the above call should update the Account instance metadata.

[2019-04-15 16:38] tmarble commented on #98
NOTE:

Looks like unclear error messages when surfer returns no tokens. Firstly: why would it ever not return a token for an authenticated user? That's the whole point of the token API surely? Secondly starfish-java should provide a better error message if something like this happens, IndexOutOfBoundsException is not very good to report to a user if an external service fails....

[2019-04-16 14:12] AyushVerma2 commented on #101
Developer Testcase pending for  -

1. ServiceAgreement
2. Invoke
3. Job
4. Account
5. Identity

[2019-04-22 08:45] shark8me commented on #89
I suggest that this ticket be split into smaller tickets:

- based on response type:
   - for invoke calls that return synchronously
   - calls that return asynchronously (returns a job id, a subsequent call to get the status/result)
- based on argument type
   - string payload
   - ocean asset payload.

[2019-04-22 09:19] mikera commented on #89
Fine feel free to split in two

[2019-04-22 09:34] shark8me commented on #89
@mikera The DEP already defines 2 types of assets,

- ocean assets
- string

[2019-06-27 04:47] shark8me opened #154 "Prov metadata does not reference `this` correctly"
The prov metadata has an error while referencing `this`.

Example:
[code]

It should be `opf:this` and not `opfthis`

[2019-06-27 04:52] shark8me commented on #134
Completed, hence closing

[2019-07-24 09:37] mikera opened #173 "Documentation build out of date"
Currently the main API documentation link points to an old version of the JavaDocs

We need to update this to a current build, and integrate this with the documentation site

[2019-07-30 08:58] mikera opened #178 "Ensure content hash is optional"
Looking at this PR: https://github.com/DEX-Company/starfish-java/pull/177

Seems to introduce calculation of content hash. However content hash is currently defined as optional, so it should be possible to create an asset without it.

Also, computing the hash is a potentially expensive operation, so there should be a way to avoid it (or specify the hash directly)

[2019-07-31 04:28] mikera opened #179 "Clean up Wiki"
Currently Wiki content is irrelevant / out of data. Either clean up or remove

[2019-07-31 04:29] mikera opened #180 "Simplify README"
Move stuff out of README that is not essential, including:
- Javadoc generation
- Eclipse / InelliJJ instructions

Should go to other docs and/or documentation site

[2019-07-31 04:39] mikera commented on #154
What is status on this?

[2019-07-31 04:40] mikera commented on #108
Please update status on this. What is still to do?

[2019-07-31 04:42] mikera commented on #107
Status? Does this need surfer support / changes to test?

[2019-07-31 04:42] mikera commented on #106
Is this done?

[2019-08-02 02:15] AyushVerma2 opened #4 "Fix java docs issue"
java docs link should have latest docs, project version

[2019-08-02 02:16] AyushVerma2 opened #5 "de-couple squid java from starfish -java"
squid java library will be loaded only when it is required.

[2019-08-02 02:18] AyushVerma2 opened #6 "Ensure content of hash is optional"
Ensure content of hash is optional

[2019-08-02 02:21] AyushVerma2 opened #7 "integration with Squid java"
integration with Squid java for creating, uploading and downloading asset

[2019-08-02 02:25] AyushVerma2 opened #8 "update /clean Readme docs"
update /clean Readme docs:
remove unwanted data.
make it more clear so any new developer can use starfish-java library

[2019-08-02 02:27] AyushVerma2 opened #9 "Quality: UT,Integration test,Code coverage"
Quality:
UT - make sure Unit test case run smoothly every time.
Integration test - if it is failing it should give proper/clear Error message

[2019-08-02 02:47] AyushVerma2 opened #11 "Performance of Unit testcases and Integration testcases"
Performance of Unit testcases and Integration testcases

[2019-08-05 05:04] mikera commented on #5
To do this it should probably be a "test" dependency.

Please also make sure we can support and test against Java 8 i(n the absence of Squid).

[2019-08-05 05:05] mikera commented on #4
@ervintwj something to integrate with the developer site

[2019-08-05 05:06] mikera commented on #11
Hi, can you be more specific?

I think a reasonable goal is for unit tests to run in <2sec since we don't have anything compute or IO heavy in starfish-java

[2019-08-05 05:09] mikera opened #13 "Java 8 support"
We should ideally be able to support Java 8 if possible, since this is still in long term support and may still be used in many enterprise environments.

Will need to:
a) Analyse dependencies, and ensure Java 8 compatibility if possible
b) Ensure we are testing against Java 8 in CI as well as 11,12 etc.

[2019-08-05 12:14] AyushVerma2 commented on #11
Hi Mike ,
Kindly review and close.
updated the Pom
Now the UT is running <4 sec (mvn clean install)
For IT, if the server is not up, it will give a proper message:
"Skipping integration test as Server (uri='http://localhost:8090) is not reachable."

[2019-08-05 12:23] AyushVerma2 commented on #13
As per the current design/implementation, below mentioned java classes are tightly coupled with Squid.java classes, and it is not possible to remove that dependency.
Also, the current version of squid is 0.6.2(https://mvnrepository.com/artifact/com.oceanprotocol/squid/0.6.2) which need java 11.
Classes:
Ocean.java
SquidAgent
SquidAsset
AEVMAccount

The only way I can think as of now is to re-desig

[2019-08-05 12:24] AyushVerma2 commented on #8
Mike: can you please review and let me know if this is ok?

[2019-08-05 12:25] AyushVerma2 commented on #4
I have created gh-pages as suggested by Kiran. Kindly review and let me know if it is ok.
Link:
https://dex-company.github.io/starfish-java/

[2019-08-08 09:35] AyushVerma2 commented on #7
Functionality implemented and tested:
1.Register/Creation of an Squid Asset
2.The query of registered asset by name/DDO...
3.Request token

[2019-08-12 03:03] mikera commented on #4
It looks OK in general as a framework. Pretty standard JavaDoc setup. Is this now building automatically?

On the first page specifically, I think there should be some overview test and the packages need descriptions (see e.g. https://docs.oracle.com/en/java/javase/11/docs/api/index.html)

Also we need to read through all the public API methods and ask:
- Should this really be public or hidden as

[2019-08-12 03:28] mikera commented on #11
Hi I like the performance of the unit tests, this is good.

Two extra things:

1. Can you clear out the warning? I am currently getting somethings like:
[code]

2. Make the interation tests fail if the endpoint is not reachable

[2019-08-12 03:29] mikera commented on #9
For code coverage, need to ensure that all main code paths are covered. Probably best to make this a separate issue though?

[2019-08-12 03:30] mikera commented on #9
Integration test - see my comments on other issue. Should FAIL if integration does not succeed.

[2019-08-12 03:33] mikera commented on #8
Comments:
- Put a better description at the top
- Features should list key features as bullets
- Make clear the requirements to run the integration tests

@ervintwj can you make text edits, improve clarity etc? Should be well aligned with what we are saying in the DEPs/developer site.

[2019-08-14 07:52] mikera opened #16 "Skipping tests with assumeTrue()"
For any test that makes use of an external connection / integration, use JUnit assumptions to skip the test if the connection is not available / valid.

See: https://junit.org/junit4/javadoc/4.12/org/junit/Assume.html

I believe this may be the most effective way to skip integration tests when run in a non-integration context. Tests should still fail if integration tests are requested and the serv

[2019-08-20 05:26] AyushVerma2 opened #18 "Code coverage Report generation"
Code coverage Report generation

[2019-08-20 05:27] AyushVerma2 commented on #11
I have fixed the point mention above. kindly review.

[2019-08-20 09:32] mikera commented on #11
In Beijing right now but please proceed. Assuming it builds cleanly without warning, all is good.

[2019-08-24 03:33] mikera opened #20 "Document integration test requirements"
README should clearly state the setup requirements for running the integration tests.

e.g. Surfer must be running locally configured on port XXX

[2019-08-24 03:38] mikera opened #21 "Improve FindPrimes operation example / test cases"
Issues to fix with class `FindPrime_JsonI_JsonO`:
- Should have valid metadata
- Should have documentation on the class
- Should return valid JSON output,not just a String
- Should have a sensible implementation performance wise
- When used in tests should check results correctly (as a JSON Array)

[2019-08-28 02:09] mikera opened #25 "Remove hardcoded result in test code"
Test operations must not have hardcoded results - this is broken.

https://github.com/DEX-Company/starfish-java/blob/b8116a39b8b81e0c2e5dae47c448e6e29a791298/src/test/java/sg/dex/starfish/impl/operations/ReverseByte_AssetI_AssetO.java#L51

[2019-09-02 04:58] mikera opened #26 "Ensure remote invoke works with a MemoryAsset"
It should be possible to invoke a remote operation with any type of asset.

Currently it looks like this will fail with a MemoryAsset. We need a solution where the Asset content gets uploaded to a suitable storage agent first.

[2019-09-03 03:48] shark8me opened #27 "Starfish-java needs release tags for all releases."
Projects upstream of Starfish-java (e.g. Koi-clj, Starfish-clj etc), sometimes need to replicate issues in a specific version of Starfish-java (e.g. 0.6.0).
This needs Starfish-java to make release tags for each release, so that the fix can be tested in that release (as opposed to HEAD, which might have changed). Currently no release tags exist.

In future, please tag all releases of Starfish-java

[2019-09-03 04:51] mikera commented on #27
Not done a release recently, but will for starfish-java 0.6.1 (hopefully today!)

[2019-09-03 04:54] #27 closed, assigned to mikera

[2019-09-04 02:13] mikera opened #29 "Implement logging for remote HTTP interactions"
All remote HTTP interactions should be logged to SLF4J, in particular:
- Requests for metadata
- Asset registration / upload via DEP standards APIs
- Asset download
- Remote invokes

This will address some issues / risks identified during Starfish security analysis by @sawlag

[2019-09-09 10:01] mikera opened #37 "Implement Resolver functionality"
It should be possible to get a DDO (as a String) for any given DID registered on-chain.

It should also be possible to register a DDO for a DID given an ethereum account

[2019-09-13 01:44] AyushVerma2 commented on #13
It will not be simple to just modify the scope of squid-java in the pom to test/runtime and it will be de-coupled.
Can we have a core library of starfish may be starfish-core, which will have all the current functionality except integration with Ocean Network?
Also, we will publish starfish-network, which will have starfish -core + the Ocean Network.

Also, it will help with Surfer integration, as

[2019-09-13 02:03] mikera commented on #13
What would be helpful is a way that:
- starfish is compiled for Java 8  but still works with Java 11
- people wanting to use squid integration must use Java 11+ and expect it to work.
- people still on Java 8 can still use starfish, but can't use the squid functionality.

I think this should be possible, given Java's pretty strong focus on backward compatibility. We just need to compile starfish w

[2019-09-13 05:11] mikera opened #39 "Add method to Job interface to get Job status as per DEP6"
Should be part of the standard interface to check the Job status.

Should be consistent with Java future definition - we should probably include a "cancelled" status if not already present.

[2019-09-17 07:32] shark8me opened #41 "Expected Asset ID looks the same but throws a validation exception"
Running integration test with Starfish-clj's `lein test :only integration.surfer-test` fails with the following exception.

The asset IDs look visually similar but are not.

The problem is only observed with starfish-java 0.7.0 and not with 0.7.1-SNAPSHOT version. Therefore it is already fixed, but Starfish-java needs a new a release for downstream (Starfish-clj, koi-clj) libraries

--
ERROR in (r

[2019-09-18 01:28] mikera commented on #41
@AyushVerma2 @shark8me let me know when everything is stable and I will do a 0.8.0 release to central

[2019-09-18 02:11] shark8me commented on #41
Perhaps we could do a patch release, since this is a minor fix but is a
blocker. Also concerned that this project is already at 0.7.0 , and not
much room till 1.0.0, so patch releases should be the norm, let's reserve
minor release versions for big features.

On Wed 18 Sep, 2019, 9:28 AM Mike Anderson, <notifications@github.com>
wrote:

[2019-09-18 02:21] mikera commented on #41
Well, usual convention is 0.17.0 etc... up until version 1.0.0.

I'll do a quick patch release now.

[2019-09-24 01:56] mikera opened #50 "Refactor memory assets to extend AMemoryAsset"
All memory assets (MemoryBundle, MemoryAsset etc.) should extend the common base class AMemoryAsset.

Should include following functionality:
- Reference to MemoryAgent
- DIDs derived from MemoryAgent

[2019-09-24 02:03] mikera opened #51 "Refactor all Agents to use "Resolver" instead of "Ocean""
Agents should keep a reference to a Resolver, not an Ocean instance.

This is part of the work to separate the Ocean / Squid implementation from the abstract starfish code

[2019-09-24 02:05] mikera opened #52 "Ensure getDID works on all Asset types"
Every asset should support `getDID`.

This may return a local did in the instance of an in-memory Asset

[2019-09-24 06:45] mikera opened #53 "Update Listing interface to support direct purchase"
Interface may need some changes to support direct purchase.

In particular:
- Consider what type of Account is needed for purchase
- Return value of `purchase` - should perhaps be a Purchase, not an Asset?

[2019-09-24 06:53] mikera opened #54 "Review RemoteAgentConfig"
Currently this looks like a bit of a fragile solution, and hardcodes to a username/password interface

We need a more general way to set up Agent connections. Some things to consider:
- Ideal interface would be something like `connect(DID, Account)` or `connect(Agent, Account)`
- May need to be a way of storing credentials (e.g. in a Resolver) for an Agent in case new connections are made to the s

[2019-09-25 03:22] mikera opened #56 "Provenance utilities"
We should include functionality that allows a user to easily add provenance to an Asset. Provenance functionality should be in a separate namespace.

Thinking of interfaces something like:

[code]

Implementation should probably be mostly in `starfish-java`, but with convenient wrapper functions for `starfish-clj` that handles Clojure idioms and conversion to/from Strings and Keywords etc. Probabl

[2019-09-25 03:41] AyushVerma2 commented on #50
code merged in PR:
https://github.com/DEX-Company/starfish-java/pull/55

[2019-09-25 03:41] #50 closed, assigned to AyushVerma2

[2019-09-25 03:49] shark8me opened #58 "Does Starfish need a getContentReference method?"
Let's assume that we'd like to use a Starfish Asset as an argument to a Invoke operation, in the context of Apache Spark.

Here's an example in Spark that creates an asset-like reference and runs a function on it. (Assume that the input file contains numbers and the function adds them).

[code]
Imagining this to work with Starfish, we would need

Option 1: overload content with content reference
[

[2019-09-25 05:50] AyushVerma2 opened #59 "Implement registerDID method in SquidResolverImpl"
Implement registerDID method in SquidResolverImpl

[2019-09-25 05:52] AyushVerma2 opened #60 "Handle namedParams method non-Asset response (JSON response) in Params class"
Handle namedParams method  non-Asset response (JSON response) in Params class

[2019-09-25 07:00] AyushVerma2 opened #61 "update code for RemoteJob creation based DEP6"
Creation of Remote job from Agent response in RmoteAgent.java
Private static Job createSuccessJob(RemoteAgent agent, HttpResponse response) {
....
....

}

[2019-09-26 09:21] mikera commented on #58
Interesting design discussion. I think a Spark implementation should have classes like `SparkAsset` and `SparkOperation` which can easily contain private references to Spark data structures like RDDs.

Would need to define what `getContent` does on a Spark asset, but perhaps it just fails as unsupported if it doesn't make sense to try to express the asset as a byte array. The only way to use such

[2019-09-27 04:51] shark8me commented on #58
The libraries in big data ecosystem do not tend to do a `getBytes` or `getContent` on a data resource.

These big data libraries can be segmented into 3 kinds:

1. Batch: Spark, Hadoop
2. Streaming data: Spark streaming, Flink, Storm
3. NO/Sql like systems: Hive/ Pig/Cassandra

All of these types of systems can benefit from a getContentReference (or similar) API, since they do not load the data in

[2019-09-27 05:28] mikera commented on #58
You will always need to implement a technology specific wrapper (e.g. SparkAsset) at some point. You can't avoid that because it is necessary to write some custom code to interface with the technology specific API.

The problem with `getContentReference` as a *generic* API method is that it doesn't help you unless you also know precisely how to interpret and make use of the reference. So it isn't

[2019-09-27 08:55] shark8me commented on #58
There are 2 separate use cases with respect to adding support for platform specific classes/implementation.

- the first is inside the native execution environment of an Invoke operation that accepts Assets as inputs (or produces Assets as outputs)
- outside the native execution environment .

Example:
Imagine a DEP6 compliant operation that is backed by a Spark cluster running a Spark operation.

[2019-10-01 00:26] mikera opened #64 "Provenance: Ensure memory operations create appropriate provenance"
For testing purposes, and for users who use them locally, memory operations should create appropriate provenance by default.

@shark8me and @AyushVerma2 please work on this to ensure this is correctly implemented in `AMemoryOperation` so that concrete instances of memory operations automatically inherit this functionality.

Functions used to add provenance should be re-usable by other implementati

[2019-10-01 08:49] AyushVerma2 commented on #64
PR raised for this implementation, kindly merge:
https://github.com/DEX-Company/starfish-java/pull/67

[2019-10-01 13:07] shark8me opened #68 "RemoteOperation assumes that Asset metadata is stored where operation executes"
Here's how to reproduce this

- Surfer runs on host A, and host the Meta endpoint.
- Koi runs on host B, and hosts the
  - Meta endpoint only for operation metadata
  - Invoke endpoint.

On invoking the operation, Koi generates a new Asset and registers the metadata on host A's Meta endpoint.

Starfish-clj's Remote Operation API does not seem to have a way to configure multiple remote agents (for

[2019-10-02 03:51] mikera commented on #68
Starfish should use the DID for the returned asset in the DEP6 result to determine which agent to use to get the result asset. In general, it should *not* assume the asset is hosted on the agent that executed the operation (although this is a possibility).

Looks like a starfish-java bug. But please ensure we test properly for stuff like this in both starfish-java and koi integration tests.

[2019-10-02 04:02] mikera commented on #61
What is this issue? Can you describe more?

[2019-10-02 04:03] mikera commented on #60
Can you describe more? What is the desired behaviour? Is this a bug?

[2019-10-02 04:04] mikera commented on #59
Hi Ilya, can you take a look at this? We need to make sure the starfish integration with the Ocean Network DIDs is working properly.

[2019-10-02 06:09] AyushVerma2 commented on #61
it was based on Todo mention by you, in createSuccessJob
// TODO: Fix according to DEP once reference implementations are stable

[2019-10-02 06:35] mikera commented on #61
Got it. DEP6 has evolved here. We need to handle multiple response types (raw job ID, job ID as JSON String, JSON response map) until both:
a) We have finalised the best return type (I think JSON map - @shark8me do you agree?)
b) All reference implementations use this model

@shark8me please help Ayush make the code consistent with the DEPs and make sure this stuff is tested thoroughly. I found a

[2019-10-02 06:40] shark8me commented on #61
Unclear as to what has changed.
[DEP6](https://github.com/DEX-Company/DEPs/tree/master/6#get-job-result) specifies the returned data should be JSON.

@AyushVerma2 does Koi return non-json data?

[2019-10-02 06:46] shark8me commented on #68
That would need the Universalresolver to work. Questions:

- Is the Universal Resolver (to be used from Starfish-java) available to handle this?
- Is there a test implementation of the Universal Resolver available (because in tests, Surfer & Koi created random DIDs). The test implementation would need to a local server that Surfer & Koi can register their DIDs to , on startup.

[2019-10-02 06:57] mikera commented on #61
Originally it is was specified to return the jobid

[2019-10-02 07:54] AyushVerma2 commented on #60
In Params.java class formatParams() method need to be updated for if the response is Asset or JSON. All scenario need to verify with some test cases.

[2019-10-03 06:18] mikera commented on #58
If a service provider wants to create assets with HDFS references as custom metadata they can do so. Caveat Emptor of course: they may need to handle some nasty security implications, and also issues when stuff gets moved around or renamed in HDFS. It might be wiser for them to maintain a table of AssetID -> HDFS Reference, which has the advantage of keeping the mapping as a hidden implementation

[2019-10-03 08:28] mikera opened #69 "Fix Unit Tests / Integration Tests split"
I have temporarily moved the integration tests out of `src/test/java` because it is breaking unit test execution with JUnit (as executed in Eclispe).

@AyushVerma2 please find a good solution for this.
1. JUnit / `mvn test` should run *unit tests only*
2. `mvn integration-test` should run *integration tests only*
3. `mvn all-tests` should run all tests
4. Travis CI should run all tests in correct

[2019-10-10 16:31] shark8me opened #70 "auth endpoint handling fails with http 401 on Koi"
There seem to be subtle differences in Auth endpoint handling on calling POST on `/auth/token` between Surfer and Koi. Ideally they should be treated equally.

While getting an Operation from an Meta Endpoint hosted on Koi, Starfish-clj throws a 401 exception, but is successful at getting an Operation from a Surfer hosted meta endpoint.

Using curl, there is no difference in making the request to

[2019-10-10 23:17] mikera commented on #70
Looks strange. Does Koi use the HTTP basic auth directly or does it issue a token?

Might be work putting in some log statements for the http calls.

[2019-10-11 01:31] shark8me commented on #70
Koi supports both basic and token auth.
In Koi's case, this is handled by buddy middleware, and hence is a bit hard to debug using log statements. Surfer doesn't use middleware for this endpoint.

[2019-10-11 02:29] shark8me opened #71 "getAsset method args doesn't accept an auth token argument"
In invoke flows, an operation can request an agent for an asset (content or metadata), and provide an auth token.
However RemoteAgent.java does not appear to support passing the token as an argument.

As an  implementation note, RemoteAgent always tries to log in with Basic Auth, gets the token, and then proceeds on the rest of the request. This is wasteful. If a token is passed an argument, that

[2019-10-11 02:48] mikera commented on #71
You should be able to create a RemoteAgent with a RemoteAccount, where the RemoteAccount contains the credentials. @AyushVerma2 can you help Kiran to make this work?

[2019-10-11 08:16] shark8me commented on #70
Wireshark traces show some interesting results on these requests.

Turns out that the Apache HTTPClient
- first sends a POST request to `auth/token` without an authentication header
- the server should respond with a 401.
- the client then sends a fresh POST request with an auth header
- the server sends a 200 with a valid token.

It turns out that Koi-clj doesn't appreciate a POST to `auth/token`

[2019-10-18 05:33] ilyabukalov commented on #59
Done
https://github.com/DEX-Company/starfish-java/pull/72

[2019-10-18 05:34] #59 closed, assigned to ilyabukalov

[2019-10-21 09:14] AyushVerma2 commented on #69
mvn clean install -P integration-test
-run only Integration test(IT)

mvn clean install -P all-test
- run UT and IT ,also generate javadocs

mvn test
 - run only unit test(UT)

Also Travis CI will run all tests incorrect integration context.
**Currently the Squid Integration test cases is ignored as the Squid config is not stable.

[2019-10-23 11:15] AyushVerma2 commented on #71
@shark8me: As discussed today, I have fixed this and written test case for the same.
1.test RemoteAccount creation using the credential
2.test RemoteAccount creation using the token
New test case class created: RemoteAgentTest_26.java.
Let me know if you have any further issue.
Kindly review and close the issue if it is fixed.

[2019-10-27 02:53] mikera commented on #41
@shark8me @AyushVerma2 is this all fixed now? If so please close, thanks!

[2019-10-28 11:10] shark8me commented on #71
@AyushVerma2 I presume that the PR for this is already merged? If so, please go ahead and resolve this.

[2019-10-28 13:58] #71 closed, assigned to shark8me, AyushVerma2

[2019-10-28 13:58] AyushVerma2 commented on #71
yes the PR is merged last week, so closing the issue.

[2019-10-28 16:09] AyushVerma2 commented on #70
@shark8me: code updated and merged the same, kindly review.

[2019-10-29 10:43] shark8me commented on #41
Not observed now, hence closing

[2019-10-29 10:43] #41 closed, assigned to mikera

[2019-10-29 10:48] shark8me commented on #70
@AyushVerma2 This needs to be fixed in Koi
Just to clarify:
Koi accepts agents created with auth-tokens. Koi's auth doesn't return a token when passed a username+password, since the Apache HTTP Client first send a request without auth, which Koi rejects as not having authorization.

[2019-10-29 10:52] shark8me commented on #61
@AyushVerma2 bumping this issue.
The spec has not changed, please test & verify.

[2019-10-29 11:28] shark8me opened #77 "Squid Asset test fails from starfish-clj"
Calling Squid Asset registration from starfish-clj fails

The clojure code:

[code]
the stack trace:

[code]

[2019-10-30 01:12] mikera opened #79 "getDID() not working from RemoteOperation"
When trying to use getDID on a RemoteOperation I get this error

[code]

getDID must work for any type of remote asset. Please add tests to validate this.

[2019-10-30 01:36] mikera opened #80 "Null pointer exception in RemoteAgent invoke"
Failure with this error when attempting a remote invoke:

[code]

invoke should not fail with this kind of error. Should probably assume that a mode can be supported and attempt the invoke as normal if modes are not specified in the metadata. Please also update DEP6 to reflect appropriate behaviour / logic if needed

[2019-10-30 01:47] mikera opened #81 "RemoteAgent.invokeResult broken"
Following lines in RemoteAgent.invokeResult(...) appear broken:

[code]

Body will be a job result as per DEP6, so should not be returned directly (need to get the "results" elements and handle appropriately).

[2019-10-30 02:00] AyushVerma2 commented on #80
@mikera: let me know if the below check for mode is ok?
1. If mode is not present in Operation metadata.
   - Default mode will be Async (will update the DEP6)
2. If invalid mode is present:
  - Default mode will be Async (will update the DEP6)
3. If Only Async mode is present and the user tries to call Sync operation or vice -versa
  - The exception will be thrown, stating mode is not supported o

[2019-10-30 02:11] mikera commented on #80
1. Default if no mode should always be what the user requests (i.e. what starfish function did they call?)
2. Invoke should fail if mode is present but not valid (bad metadata)
3. I think an exception is correct here, but may need to revisit. It would be possible for a sync call to convert to an async call and just wait for the result, for example. Or an async call could create a local job in a th

[2019-10-31 00:13] mikera opened #83 "contentHash should not be added to bundles or operations"
When creating an operation or bundle, there should be no `contentHash` or `size` fields. These do not make sense for anything other than a `dataset`

Need tests to validate this in several places.

[2019-11-04 02:06] mikera opened #84 "Invoke sync should throw a sensible error message in case of 404"
Currently attempting to invoke on a non-existent endpoint is throwing a JSON parse error.

This should throw a sensible exception (e.g. "Operation XXX not found on remote agent")

[2019-11-05 04:37] AyushVerma2 opened #85 "update travis file to remove the external dependency for running the test cases"
update Travis file to remove the external dependency for running the test cases.
i.e run local barge that will start Surfer and KOI and then run the IT test cases.

[2019-11-05 04:38] AyushVerma2 opened #86 "code coverage > 80%"
Write more test cases so the code coverage > 80%.

[2019-11-06 05:00] mikera commented on #8
Moved back to in-progress.

Feedback:
- Still not clear from this README what starfish-java is, and why I might be interested as a developer
- Features section doesn't describe features! Sounds like product pitch?
- How does the properties file work? Example required (maybe link to doc site)
- starfish-java shouldn't requite Maven for usage

[2019-11-06 05:05] mikera commented on #37
Moved back to in-progress, until we have a stable API proposal that must include:
- How to get an appropriate instance of a Resolver of various types
- How to use the Resolver instance

Needs to be will explained in JavaDocs and doc site

[2019-11-06 05:06] mikera commented on #6
Do you mean "contentHash"?

What is this issue, and how do we determine if it is resolved?

[2019-11-06 05:08] mikera commented on #86
This is a good target, but please remember that testing the right things (positive / negative cases, all user facing behaviour) is more important than code coverage %. Simply getting code coverage % up is not a big priority.

[2019-11-06 05:10] mikera commented on #4
Is this now building automatically? What do you want me to review and test?

[2019-11-06 05:38] AyushVerma2 opened #88 "Api to provide the properties file path externally"
API to provide the properties file(application.properties)path externally rather than using the default path always

[2019-11-06 06:26] mikera commented on #37
@shark8me adding you since you are a consumer of this

[2019-11-08 04:20] AyushVerma2 opened #93 "docs link on Readme is not working"
docs link on Readme  is not working

[2019-11-10 00:46] AyushVerma2 commented on #93
it working now.

[2019-11-12 07:47] #93 closed, assigned to AyushVerma2

[2019-11-12 07:47] AyushVerma2 commented on #88
code updated and merged

[2019-11-12 07:47] #88 closed, assigned to AyushVerma2

[2019-11-12 07:49] AyushVerma2 commented on #85
will be inte4grating with GitHub action , so not working on this as of now.
Will start working on this next week.

[2019-11-13 04:30] AyushVerma2 commented on #80
Fixed in git pull request:
https://github.com/DEX-Company/starfish-java/pull/96

[2019-11-13 04:30] #80 closed, assigned to shark8me, AyushVerma2

[2019-11-13 04:40] AyushVerma2 opened #97 "move starfish-java from travis to GitHub Actions"

[2019-11-13 04:53] mikera commented on #69
Hi @AyushVerma2 can you demo this to me, would like to understand how it is set up before closing

[2019-11-13 05:22] mikera commented on #80
@AyushVerma2 can you point me to tests that verify this?

[2019-11-13 07:04] AyushVerma2 commented on #80
below are the Test cases added in TestMemoryOperations.java class

1. testInvalidMetadata
2. testMetadataWithNoMode
3. testMetadataWithNoMode_Sync
4. testMetadataWithInvalidMode
5. testMetadataWitModeSyncForAsyncCall
6. testMetadataWitModeASyncForSyncCall

[2019-11-13 07:55] mikera commented on #80
@AyushVerma2 I don't see any of these methods - which branch / repo are they on? And are these testing the RemoteAgent properly?

[2019-11-13 07:58] mikera opened #100 "Misuse of assumeXXX tests"
In many tests,`assumeXXX` methods are being used inappropriately, e.g. in the test class `QueryProvenance_15`:

[code]

In all such cases:
- These should be `assertXXX` instead of `assumeXXX`
- The tests should test for the correct value, not simply assert they are not null

[2019-11-13 09:28] AyushVerma2 commented on #80
@mikera: Sorry it was left unmerged, now it is available in develop branch.
Currently, I have written test cases for Memory implementation, soon will be writing the same for Remote Operation.

[2019-11-13 09:37] AyushVerma2 commented on #100
Fixed in develop branch,
link: https://github.com/DEX-Company/starfish-java/pull/103

[2019-11-14 00:26] mikera commented on #100
@AyushVerma2 please do this *everywhere* not just the example provided.

Unless you actually intend to skip tests, you should never use `assumeXXX`

[2019-11-14 03:46] AyushVerma2 commented on #100
ok, sure I will review and do for other test case too.

[2019-11-15 02:52] AyushVerma2 opened #108 "hardcoding need to be removed from main class"
DirectPurchase code has:
static {
        _addresses = new HashMap<String, String>();
        _addresses.put("8996", "0xc0C528855f27aA3FbfE35CedE49AC37f3f881934");
    }

[2019-11-15 05:49] ilyabukalov commented on #108
This is autogenerated code. So any modification will be reverted back in case of new changes/re-generation.
And this line exactly is never used in runtime. The address is set dynamically from config.

[2019-11-18 06:52] AyushVerma2 opened #112 "Move starfish CI/CD from Travis to Github Action"
Move starfish CI/CD from Travis to Github Action

[2019-11-18 07:21] mikera opened #113 "Ensure getContentHash uses getContentStream"
This is to avoid issues when content is large.

Will need to use sha3-256 functions for incremental hash computation (`update` etc.)

[2019-11-18 07:25] #69 closed, assigned to mikera, AyushVerma2

[2019-11-18 07:29] #9 closed, assigned to AyushVerma2

[2019-11-18 07:29] #11 closed, assigned to mikera, AyushVerma2

[2019-11-18 07:34] mikera commented on #13
Can just skip Squid tests when running in Java 8 environment

[2019-11-18 09:53] ilyabukalov commented on #108
The correct solution is to exclude this file from git while including whole command line steps of truffle+solc generation+compilation to maven which looks complicated and being postponed

[2019-11-19 10:49] AyushVerma2 opened #116 "Migrate to JUnit 5"

[2019-11-19 10:51] AyushVerma2 commented on #116
For time being I have commented on the Integration test case from Travis build as there was some issue, will fix soon and update the same.

[2019-11-20 02:30] ilyabukalov commented on #37
Done

[2019-11-22 07:31] ilyabukalov commented on #79
https://github.com/DEX-Company/starfish-java/pull/119

[2019-11-25 07:13] ilyabukalov commented on #79
https://github.com/DEX-Company/starfish-java/commit/584164c3b4afa25476f1303b5c856fbddb1b5d16

[2019-11-25 07:13] #79 closed, assigned to AyushVerma2, ilyabukalov

[2019-11-25 07:47] ilyabukalov commented on #51
https://github.com/DEX-Company/starfish-java/commit/df24bdc4f129e33ec7d6121012db66db007c3e20

[2019-11-25 07:47] #51 closed, assigned to AyushVerma2, ilyabukalov

[2019-11-25 07:48] ilyabukalov commented on #51
https://github.com/DEX-Company/starfish-java/commit/dbd2b0afc32c2b8c4e405729935b2bcc8177e834

[2019-12-26 09:19] ilyabukalov opened #120 "Migrate integration tests to herokuapp"

[2019-12-26 09:24] ilyabukalov commented on #120
Reproduced since https://github.com/DEX-Company/starfish-java/commit/9613cf263a53e374a61cd175223cde09b95b0cf9
The correct configuration in properties file are (I have checked and it works):
surfer.host = https://dex-surfer-dev.herokuapp.com
surfer.port = 443
(don't add additional slashes or quotes please otherwise it generates incorrect URL)
Otherwise our initial idea with continuous integration d

[2019-12-30 08:27] mikera commented on #6
Unclear what is to be tested here @AyushVerma2 . Please clarify.

[2019-12-30 08:30] mikera commented on #37
@ilyabukalov Where is this documented currently? If I want to use the resolver in a "Hello World" type case how do I do it?

[2019-12-30 10:12] mikera commented on #37
@pedrorgirardi FYI this is the functionality you will need in surfer, great if you could review.

[2019-12-30 10:20] ilyabukalov commented on #37
Attaching the reference
https://github.com/DEX-Company/starfish-java/blob/9613cf263a53e374a61cd175223cde09b95b0cf9/src/integration-test/java/keeper/DexResolverTest.java#L78

[2019-12-30 10:37] mikera commented on #37
Thanks Ilya.

Some comments:
- Most important from a user perspective is a function that gets an agent or asset from a given DID. It should not be tied to a specific implementation (DEXResolver, RemoteAgent) since it needs to work with other implementations e.g. Squid/Ocean assets. Where is the public API for this? Perhaps @pedrorgirardi you can comment further on what you need here?
- Line 6-7: S

[2019-12-30 10:39] mikera commented on #37
@ayush the construction of the credential map looks a bit unwieldy from a user perspective can you simplify this? I'm expecting something like RemoteAccount.create(username, password). We shouldn't be forcing users to construct hashmaps just to do this!

[2019-12-30 12:20] pedrorgirardi commented on #37
@mikera my use case was a function that gets an Agent from a DID so then we can use the `get-asset` function and pass the resolved Agent as a parameter.

*starfish-clj* currently uses a `LocalResolverImpl` to get a DDO for the specific DID and then create a remote Agent. The problem then is that the resolved Agent might require authentication and we don't have a solution for that - independently o

[2019-12-30 16:21] ilyabukalov commented on #37
Starfish as library does not have configs by design and our decision. The config which is used here is created specially for integration tests. Current "real users" of DexResolver are only admiral and surfer. Both of them have required configuration. And no one else except them have this configuration @pedrorgirardi Could you clarify and confirm whether I am correct and do you need anything else m

[2019-12-30 16:41] ilyabukalov commented on #37
Authorization is not clear for everyone now. Probably @shark8me is the first person who has developed some first approach. We need to listen him at first to continue our further steps. For a while, regarding concrete case with DexResolver integration, we decided on our latest call to use hardcoded values of authorization.

[2019-12-30 16:47] ilyabukalov commented on #37
Exactly. This would perfectly suit to existing starfish interface.

[2019-12-30 17:56] mikera commented on #37
So what do we expect a library user to do? What is idiomatic usage of the resolver in user code?

[2019-12-30 18:35] ilyabukalov commented on #37
My opinion is based on the limited circumstances which we have now by the design:
1. Starfish java does not provide any config by design (if it is wrong design? Then lets rebuild it @AyushVerma2).
2. DexResolver **must** have an account on chain, it **must** be initialized somehow by an account.
=> which cause
3. Being part of starfish DexResolver is supposed to accept some external config created

[2019-12-30 19:31] AyushVerma2 opened #122 "Fix test case issue"
1- IT test case
2-Check Surfer/Koi running before IT start
3-Fix all disable TC
4- Fix all commented testcases.

[2019-12-30 19:56] AyushVerma2 commented on #37
I will be fixing this by this week

[2019-12-30 19:57] AyushVerma2 commented on #37
Currently Starfish lib used config only for running IT test case.In Src code there should be no reference of it.
@ilyabukalov : let discuss on this tomorrow.

[2019-12-30 20:06] AyushVerma2 commented on #120
Fixed. in latest build

[2019-12-30 20:06] #120 closed, assigned to mikera, AyushVerma2

[2019-12-30 20:19] AyushVerma2 commented on #113
Fixed:
To verify IT test case:
TestAssetRegistration_08 >testHashForRemoteAsset
UT Test case:
TestResources >testResourceAssetWithContentHash

[2019-12-30 20:19] AyushVerma2 commented on #113
Need to add few more test cases

[2019-12-30 20:22] AyushVerma2 commented on #100
Refactored the test cases, removed the misuse of Assume in test case validation.

[2019-12-30 20:22] #100 closed, assigned to AyushVerma2

[2019-12-30 20:55] AyushVerma2 commented on #6
**Issue**:
For every asset hash of the content was being calculated while building metadata.

- if the content size is huge (maybe larger than in-memory size).
-  hash calculation is heavy and slow so it impacts the performance.
- Also, the user may not want the hash to be calculated for every content.
-

**Solution**:
May the content of hash calculation optional. So by default, it won't be calcul

[2019-12-31 04:43] AyushVerma2 commented on #37
This is fixed and code pushed to develop branch.Please refer testcase below to verify:
In TestRemoteAgentTest_26.java,
testCreatRemoteAccount_WithUsernamePassword
testCreatRemoteAccount_WithWrongUsernamePassword

[2019-12-31 06:13] ilyabukalov commented on #37
Thanks it works now
https://github.com/DEX-Company/starfish-java/commit/83c7720b5d43af82e465844d94df6efbbf43aadc

[2019-12-31 06:13] ilyabukalov commented on #120
Thanks. it works now
https://github.com/DEX-Company/starfish-java/commit/83c7720b5d43af82e465844d94df6efbbf43aadc

[2019-12-31 06:22] ilyabukalov commented on #37
https://github.com/DEX-Company/starfish-java/commit/8994738f3dcd2a577707f2c3eb715b905fff2e9b
Transaction exception is removed. CipherException has dependency from squid. But it is rather formal dependency than real functioning. I will try to do refactoring to remove squid at all (and check whether it is possible)

[2019-12-31 12:32] mikera commented on #113
Please don't close issues until we have reviewed.

This is clearly wrong:

[code]

Issues:
- Why are we using `stringFromStream`? That will give the wrong result, since asset content is not usually a String. Was this even tested?
- The whole point of using the stream is to avoid loading the entire aset content into memory. You need to do an incremental calculation with something like repeated call

[2019-12-31 15:56] AyushVerma2 commented on #113
@mikera: I have updated the code as you suggested, Kindly review.
https://github.com/DEX-Company/starfish-java/pull/126

[2020-01-03 08:20] ilyabukalov commented on #37
https://github.com/DEX-Company/starfish-java/commit/0d55477447e823484642e4db60f1b428808114f7

[2020-01-03 08:21] ilyabukalov commented on #37
[DEP created](https://github.com/DEX-Company/DEPs/tree/master/22)

[2020-01-03 08:23] ilyabukalov commented on #37
Please review everything and close.

[2020-01-06 09:11] AyushVerma2 commented on #37
We need Integration Testing as a part of Starfish-java.

[2020-01-06 09:19] AyushVerma2 commented on #4
done

[2020-01-06 09:19] #4 closed, assigned to mikera, AyushVerma2

[2020-01-06 09:36] #86 closed, assigned to AyushVerma2

[2020-01-06 09:50] AyushVerma2 commented on #108
Need to be discussed with Ilya.

[2020-01-06 10:00] mikera commented on #113
Ensure that a large file is tested (big enough to exceed buffer size)

[2020-01-06 10:05] AyushVerma2 opened #127 "Add connect capability (using DEP11)"

[2020-01-06 10:07] mikera commented on #127
Surfer already supports this capability. Should be possible to:
- Specify a surfer URL
- Make an HTTP request to the status API as per DEP11
- Configure a RemoteAgent accordingly

[2020-01-06 10:24] AyushVerma2 opened #128 "Need an API which takes Account and DID and returns Agent Instance"
Need an API in Agent class probably as:
Agent.withAccount(Account acc) ;// interface

[2020-01-06 17:04] AyushVerma2 commented on #113
Testcase "testHashForRemoteAsset" in class TestAssetRegistration_08.java test large file (>8192 byte).

[2020-01-06 17:09] AyushVerma2 opened #129 "Invalid mode for Invoke call"
Currently Starfish support on sync and Async mode. If mode is missing or mode is invalid , then the invoke call should be executed with default mode.
The current behaviour is if the mode is invalid it throw validation exception

[2020-01-06 17:11] AyushVerma2 opened #130 "SF 1.0: invoke on latest surfer"
test all invoke functionality on the latest surfer (on https://dex-surfer-dev.herokuapp.com/)

[2020-01-15 07:06] AyushVerma2 opened #134 "Starfish-java 1.0 release Plan"

[2020-01-15 07:09] AyushVerma2 commented on #134
planned release of starfish 1.0 should have below mention features:

1-Invoke API support
2 -Surfer integration(Meta API, Storage API and Status API, Auth API)
3 -Provenance (Basic)
4 -Resolver(currently Nile network)
5 -Direct Payment
6 -Network integration(preferable BC)
7 -Doc (about starfish, how to use, its capability)
8 -supports java 1.8 onwards (need to work on this)
I have created issue f

[2020-01-15 07:11] AyushVerma2 opened #135 "SF 1.0: Surfer integration"
SF should be able to integrate with Surfer API`s for:
Meta API
Storage API
Auth API

[2020-01-15 07:17] AyushVerma2 opened #136 "SF 1.0: Resolver integration"
SF should be able to use resolver to get the DDObased on DID.
-Currently, SF supports 3 resolvers:

1. DEXResolver: currently it uses the Nile Network, but no Aquarius and any other service form SQuid-java
2.  SquidResolver: currently it uses the Nile Network, also uses Aquarius service to get the DDO from Squid-java.
3. DefaultResoulver: It is used for testing purpose if user doesn't have any con

[2020-01-15 07:17] AyushVerma2 opened #137 "SF 1.0: DirectPayment integration"

[2020-01-15 07:19] AyushVerma2 opened #138 "SF 1.0: Basic Provenance support"
SF should be supporting the basic provenance.

[2020-01-15 07:21] AyushVerma2 opened #139 "SF 1.0: integration with Blockchain(Nile-testnet Network)"
Starfish should be able to register an asset on Network

[2020-01-15 07:22] AyushVerma2 opened #140 "SF 1.0: Support of DefaultResolver"
SF should support of DefaultResolver, so if the user of starfish has not provided any config file, then starfish should be pointing to default network(currently to Nile network).

[2020-01-15 15:31] ilyabukalov commented on #140
https://github.com/DEX-Company/starfish-java/commit/fc7987ad6c5adb8bed358eb22d06d26423c709c6

[2020-01-15 15:32] ilyabukalov commented on #140
Done

[2020-01-15 15:34] ilyabukalov commented on #137
Already exists
https://github.com/DEX-Company/confluence/issues/39

[2020-01-15 15:36] #140 closed, assigned to ilyabukalov

[2020-01-16 06:03] ilyabukalov commented on #137
https://github.com/DEX-Company/starfish-java/tree/listing

[2020-01-20 14:30] AyushVerma2 opened #143 "update the Public API to create an Agent"
to create an Agent, SF should provide two public API
- RemoteAgent connect(Resolver resolver, DID did, RemoteAccount acc)
// here user provide the resolver, did and RemoteAccount
-RemoteAgent connect(DID did, RemoteAccount acc)
 // here user provide the did and RemoteAccount, it will use the default resolver

[2020-01-20 15:19] AyushVerma2 opened #144 "Removed Squid-java dependency as it is not longer supported"
Chat below:

Kiran  8:03 PM
A discussion about a bug on keeper-contracts led to this discussion (copied from Ocean Slack)
Ahmed [5:59 PM]
Hello Kiran
[5:59 PM]
For more information about the rest-api, please ask Alex to grant you access for it.
[5:59 PM]
Java packages are no longer supported until we have the resource capacity for it.
Kiran K [7:18 PM]
Hi Ahmed, thanks for the heads up. Does that

[2020-01-20 15:20] AyushVerma2 opened #145 "Simplify the provenance code and make it more user understandable"
update the Provenance code, so that the provenance result should be easy to understand

[2020-01-21 03:48] AyushVerma2 opened #146 "Travis build is taking more than 17 min, needs to improve."
-Check and Improve the build time performance,

[2020-01-22 04:39] AyushVerma2 opened #148 "refactor Starfish API Invoke response"
- Starfish API should return a Map of an Asset or String based on invoke response

[2020-01-22 05:21] AyushVerma2 opened #149 "Update key while creating DDO service map"
Update key while creating DDO service map, it should not contain   "Ocean.Invoke.v1";

[2020-01-23 05:51] AyushVerma2 opened #150 "If the DID is did:dex:XXXXX ,DexResolver throw exception"
sg.dex.starfish.exception.ResolverException: com.oceanprotocol.squid.exceptions.DIDFormatException: Invalid DID Format, it should starts by did:op:

[2020-01-23 06:05] AyushVerma2 opened #151 "Create RemoteAgent based on URLand Account"
Provide an API that takes 2 Argument agent URL and Acc, and return Agent Instance

[2020-01-23 13:14] ilyabukalov commented on #150
https://github.com/DEX-Company/starfish-java/commit/83853ea65a1d6848dbfbd7cb961a0a431c3f5351

[2020-01-23 13:14] #150 closed, assigned to ilyabukalov

[2020-02-03 08:55] ilyabukalov opened #155 "Resolving/Provenance"
These tasks are all related. Description below. The decisions and agreement have been made after discussion with @AyushVerma2

[2020-02-03 09:37] ilyabukalov commented on #155
1. To rename resolver to something more general since it will work transparently the same way as with DID->DDO resolving as with AssetID registration. Interface of Resolver will not be changed, only renaming to something "ImmutableLedger" since resolving agents is only part of its functionality.
2. To create separated smart contract for that (actually inheriting ocean codebase) and deploy it to ni

[2020-02-03 09:42] mikera commented on #155
Please keep the name Resolver, as this is consistent with the W3C DID standard. I assume you are familiar with https://w3c-ccg.github.io/did-resolution/ ? We don't need to support this full spec, only the Create / Read / Update DID -> DDO parts right now

[2020-02-03 09:46] mikera commented on #155
Our Resolver standard (DEP22) must specify what is expected to be stored (i.e. Valid DDOs). It is OK if the smart contract itself allows arbitrary strings, but the Resolver in starfish should support valid DDOs only.

We probably need a starfish function call to get the timestamp from the resolver, in a Resolver-neutral way. Can you clarify what timestamp is used? Is this compatible with W3C Resol

[2020-02-03 09:50] mikera commented on #155
I think we need to separate Resolver functionality from Provenance.
- DIDs are **per agent**
- Provenance is **per asset**, possibly many for a single Agent DID

[2020-02-03 09:53] mikera commented on #155
Accessing the asset provenance is presumably just using the Meta API.

Verifying provenance on-chain seems like it should be a starfish capability that can be executed by the client, not something that is delegated to surfer.

[2020-02-03 09:54] mikera commented on #155
Sounds good to me!

[2020-02-04 03:33] ilyabukalov opened #156 "SquidService to investigate"
It is too slow to connect to Ethereum. Need improvement.
Ideally to get rid of this to avoid dependencies with ocean

[2020-02-04 03:39] ilyabukalov opened #157 "To implement DDO parsing/checking from string"
DDO class exists but validation algorithm don't exist yet.

[2020-02-04 03:45] ilyabukalov commented on #155
ok. I will not mix the things. Actually it does not contradict my points about future development. So, I will create one more interface then specially for provenance. And smart contract need to be created anyway. And yes, all Create / Read / Update DID currently supported by Resolver

[2020-02-04 03:46] ilyabukalov commented on #155
Created separated task for this.
https://github.com/DEX-Company/starfish-java/issues/157

[2020-02-04 04:30] ilyabukalov commented on #155
1. I can include system timestamp as "current block timestamp as seconds since unix epoch"
2. Then interface extension will be needed, something like getTimestamp(DID did) function in resolver
3. It can be compatible in a sense of getting/resolving appropriate version of DID document depending on the input timestamp parameter. This is currently not supported in Ocean implementation, they simply ov

[2020-02-04 04:32] ilyabukalov commented on #155
no problem with that. It does not contradict initial idea, it just matter of high level interfaces.

[2020-02-04 04:40] ilyabukalov commented on #155
I just was offering one possible way of use starfish as library by surfer. But of course initially it is part of starfish itself and can be used by user alone as well.

But please look at my point about configuration. I still think that configuration should be externally of starfish. Yes, we provide default config just for simplicity but each one user (or service, let say surfer) has to create its

[2020-02-04 07:45] ilyabukalov commented on #156
https://github.com/DEX-Company/starfish-java/tree/removing_ocean

[2020-02-04 11:12] AyushVerma2 opened #158 "SF should have method to get the Asset from a give DID"
SF should have method to get the Asset from a give DID.

[2020-02-05 01:38] mikera commented on #155
@ilyabukalov I think this task is too large in scope and should be broken down into individual items that can be addressed / completed independently. It's OK if one depends upon another (can link the issues). Can you do this?

[2020-02-05 05:25] mikera commented on #157
It is probably fine to validate lazily, i.e.:
- Only the subset (profile) of the DDO standard that is actually used, as defined in DEP22
- Only check *when* it is used, e.g. getting a service endpoint

[2020-02-06 07:47] ilyabukalov opened #163 "Provenance verification on chain"
Linked to
https://github.com/DEX-Company/dex-chain/issues/1

[2020-02-06 08:13] ilyabukalov commented on #155
These are
https://github.com/DEX-Company/starfish-java/issues/163
https://github.com/DEX-Company/dex-chain/issues/1
https://github.com/DEX-Company/dex-chain/issues/3
https://github.com/DEX-Company/dex-chain/issues/4
https://github.com/DEX-Company/dex-chain/issues/5
https://github.com/DEX-Company/starfish-java/issues/156
For a while everything, (including design as well) is clear for me.
Assuming t

[2020-02-06 08:13] #155 closed, assigned to ilyabukalov

[2020-02-10 08:56] ilyabukalov commented on #156
https://github.com/DEX-Company/starfish-java/pull/165

[2020-02-10 11:28] AyushVerma2 commented on #136
fixed ..

[2020-02-10 11:28] #136 closed, assigned to AyushVerma2

[2020-02-11 04:24] mikera opened #168 "Resolver entry point"
Currently the way to get the default resolver is:
`sg.dex.starfish.squid.impl.DexResolver.create()`

This needs a to be public API, not accessed via an internal implementation package, and should definitely not be inside the `squid` hierarchy (which is for OP specific implementation)

[2020-02-11 12:13] ilyabukalov opened #170 "okhttp3 module error"

[2020-02-11 12:29] ilyabukalov commented on #170
Since changes of https://github.com/DEX-Company/starfish-java/commit/8a32c3041fabc93acc826472af8e3d66ff4746d3
all Web3 http related requests (especially Resolver) become not working.
Falling with error:
java.lang.NoSuchMethodError: 'okhttp3.RequestBody okhttp3.RequestBody.create(java.lang.String, okhttp3.MediaType)'
**Please fix it as soon as possible** I have tried to investigate the problem and

[2020-02-11 12:31] ilyabukalov commented on #170
WTR: run Resolver integration tests.

[2020-02-11 12:41] ilyabukalov commented on #156
1. The code refactoring was done with clear code splitting and now it is much clear for debugging. At the same time part of Ocean code was completely removed.
2. During debugging it was found that most CPU it takes for simply decryption of parity key file (which is 100% offline work using password) and a little bit as well for creating connection with the blockchain network. It could be later the

[2020-02-11 12:45] ilyabukalov commented on #156
One more point found during investigation.
When you run transaction frequently - back end (nile) sensitive for that. Because two the same transaction cannot be in the same block. It gives you error "low gas" or something like that but it is really not because "low gas". It is just because transaction is rejected by backend because it has the same nonce. Just wait a bit and run again. **it is CORRE

[2020-02-11 12:45] ilyabukalov commented on #170
and please see my comments for reference here
https://github.com/DEX-Company/starfish-java/issues/156

[2020-02-12 10:39] ilyabukalov commented on #170
Fixed. Web3 version reverted to 4.5.11

[2020-02-12 10:39] #170 closed, assigned to mikera, AyushVerma2

[2020-02-12 10:39] ilyabukalov commented on #170
https://github.com/DEX-Company/starfish-java/commit/fe120aefe366926870531b7dc4d55bfbd411511c

[2020-02-12 10:44] ilyabukalov commented on #156
All Web3 related integration tests enabled. as well as default resolver changed from Local to DexResolver
Please consider this commit as the latest stable
https://github.com/DEX-Company/starfish-java/commit/e33848e14bde57032020e4e3b6fcec443e8dc645
When you change anything in the future please make sure that it does not break current behaviour.

[2020-02-12 10:44] #156 closed, assigned to mikera, pedrorgirardi, AyushVerma2, ilyabukalov

[2020-02-19 07:35] #37 closed, assigned to mikera, pedrorgirardi, AyushVerma2

[2020-02-28 07:42] ilyabukalov commented on #168
Done

[2020-02-28 07:42] #168 closed, assigned to AyushVerma2, ilyabukalov

[2020-02-28 07:43] ilyabukalov commented on #163
https://github.com/DEX-Company/starfish-java/pull/176

[2020-02-28 07:43] #163 closed, assigned to ilyabukalov

[2020-03-02 03:09] AyushVerma2 commented on #138
implement in latest release

[2020-03-02 03:09] #138 closed, assigned to AyushVerma2

[2020-03-02 03:09] AyushVerma2 commented on #135
implemented in the latest starfish release

[2020-03-02 03:09] #135 closed, assigned to AyushVerma2

[2020-03-02 03:15] AyushVerma2 commented on #128
Updated the method to create remote agent .
Now Remote Agent can be create by below three methods:
// with DID and Remote Acc
1.RemoteAgent connect(Resolver resolver, DID did, RemoteAccount acc) ;
// with resolver, DID and Remote account
 2.connect(Resolver resolver, DID did, RemoteAccount acc)
// with Agent url and Remote Account
3. public static RemoteAgent connect(String url, RemoteAccount acc)

[2020-03-02 03:15] #128 closed, assigned to nobody

[2020-03-02 03:17] AyushVerma2 commented on #122
Fixed, now all test cases running on JUnit 5

[2020-03-02 03:17] #122 closed, assigned to AyushVerma2

[2020-03-02 04:01] AyushVerma2 commented on #149
done

[2020-03-02 04:01] #149 closed, assigned to nobody

[2020-03-02 04:17] AyushVerma2 commented on #146
fixed

[2020-03-02 04:17] #146 closed, assigned to nobody

[2020-03-02 04:17] AyushVerma2 commented on #139
done!!

[2020-03-02 04:17] #139 closed, assigned to AyushVerma2

[2020-03-02 04:18] AyushVerma2 commented on #127
done

[2020-03-02 04:18] #127 closed, assigned to AyushVerma2

[2020-03-02 04:18] AyushVerma2 commented on #116
done

[2020-03-02 04:18] #116 closed, assigned to AyushVerma2

[2020-03-02 06:44] AyushVerma2 commented on #143
done

[2020-03-02 06:44] #143 closed, assigned to AyushVerma2

[2020-03-02 06:49] AyushVerma2 commented on #145
invalied!!

[2020-03-02 06:49] #145 closed, assigned to nobody

[2020-03-02 06:50] AyushVerma2 commented on #137
done!

[2020-03-02 06:50] #137 closed, assigned to AyushVerma2

[2020-05-12 13:38] AyushVerma2 opened #201 "Ensure expired token is handles in getHttpResponse"